.table {
    border: none !important;
    justify-content: center;

    *[class*='Mui'] {
        font-size: 1.6rem;
        border-color: var(--border-color) !important;
        color: var(--text-color);

        &::-webkit-scrollbar-thumb {
            display: none;
        }
    }

    .row {
        border-color: var(--border-color);
        display: flex;
        justify-content: center !important;

    }

    .cell {

        border-color: var(--border-color);

        .MuiDataGrid-cellContent {
            white-space: normal !important;
            text-overflow: ellipsis;
            line-height: 1.6;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}