.theme {
    --white-color: white;
    --black-color: black;
    --primary-color: #2c7be5;
    --primary-hover-color: #2569c3;

    // link color
    --link-color: var(--primary-color);
    --link-hover-color: #2362b7;
}

.light-theme {

    // background color
    --bg-color: #edf2f9;
    --bg-light-color: #fff;
    --bg-dark-color: #cdcdd4;



    // heading color
    --heading-color: #344050;

    // button color
    --button-text-color: #4d5969;
    --button-text-hover-color: #404a57;
    --button-color: var(--white-color);
    --button-hover-color: #F9FAFD;
    --button-box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    --button-hover-box-shadow: 0 0 0 1px rgba(43, 45, 80, 0.1), 0 2px 5px 0 rgba(43, 45, 80, 0.1), 0 3px 9px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.08), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
    --button-border-color: #ccc;
    --button-hover-border-color: transparent;
    --button-disable-color: #4d5969;

    // border color
    --border-color: #d8e2ef;

    // text color

    --text-color: #5e6e82;
    --text-hover-color: #232e3c;
    --text-light-color: #748194;
    --box-shadow: 0 7px 14px 0 rgba(3, 12, 51, 0.15), 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.dark-theme {
    --primary-color: #2362b7;

    // background color
    --bg-color: #0B1727;
    --bg-light-color: #121E2D;
    --bg-dark-color: #1B1B1C;



    // heading color
    --heading-color: #d8e2ef;

    // border color
    --border-color: hsla(0, 0%, 100%, 0.05);

    // button color
    --button-text-color: #b6c1d2;
    --button-text-hover-color: #c2ccda;
    --button-color: #0b1727;
    --button-hover-color: transparent;
    --button-box-shadow: 0 0 0 1px rgba(0, 8, 19, 0.3), 0 2px 5px 0 rgba(0, 13, 33, 0.5), 0 1px 1.5px 0 rgba(0, 8, 1, 0.48), 0 1px 2px 0 rgba(0, 8, 1, 0.4);
    --button-hover-box-shadow: 0 0 0 1px rgba(0, 8, 19, 0.3), 0 3px 7px 0 rgba(0, 13, 33, 0.8), 0 1px 1.5px 0 #000801, 0 1px 2px 0 #000801;
    --button-border-color: #0b1727;
    --button-hover-border-color: transparent;
    --button-disable-color: #4d5969;




    // text color
    --text-color: #9da9bb;
    --text-hover-color: #edf2f9;
    --text-light-color: #748194;
    --box-shadow: 0 7px 14px 0 rgba(3, 12, 51, 0.15), 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

// .new-theme {

//     --primary-color: #2362b7;

//     // background color
//     --bg-color: #1D1D1E;
//     --bg-light-color: #252626;
//     --bg-lighter-color: #121E2D;
//     --bg-dark-color: #1B1B1C;
//     --bg-darker-color: #2131e3;



//     // heading color
//     --heading-color: #d8e2ef;

//     // border color
//     --border-color: #344050;

//     // button color
//     --button-text-color: #b6c1d2;
//     --button-text-hover-color: #c2ccda;
//     --button-color: #0b1727;
//     --button-hover-color: transparent;
//     --button-box-shadow: 0 0 0 1px rgba(0, 8, 19, 0.3), 0 2px 5px 0 rgba(0, 13, 33, 0.5), 0 1px 1.5px 0 rgba(0, 8, 1, 0.48), 0 1px 2px 0 rgba(0, 8, 1, 0.4);
//     --button-hover-box-shadow: 0 0 0 1px rgba(0, 8, 19, 0.3), 0 3px 7px 0 rgba(0, 13, 33, 0.8), 0 1px 1.5px 0 #000801, 0 1px 2px 0 #000801;
//     --button-border-color: #0b1727;
//     --button-hover-border-color: transparent;
//     --button-disable-color: #4d5969;




//     // text color
//     --text-light-color: #748194;
//     --box-shadow: 0 7px 14px 0 rgba(3, 12, 51, 0.15), 0 3px 6px 0 rgba(0, 0, 0, 0.2);
// }